spring:
  application:
    name: recipe
  datasource:
    url: jdbc:postgresql://localhost:5432/recipiesdb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: supersecretandsecuredapplicationkey
  expiration: 86400000 #24 * 60 * 60 * 1000 for 1 day

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /

logging:
  level:
    root: INFO
    org.springframework: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    com.abnamro.recipe: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never